.swagger-section .icon-btn {
	cursor: pointer;
}

.swagger-section #header {
	background-color: #25751D;
    position: fixed;
    top: 0;
    width: 100%
}

.swagger-section #header a#logo {
	padding-left: 120px;
}

.swagger-section #header form#api_selector .input a#explore {
	background-color: #329E28;
}

#swagger-ui-container {
	margin-top: 30px;
}